<!--%= form_with url: '/top/login', method: :post, local: true do |f| %>
%= f.label :uid, 'ユーザーID' %>
%= f.text_field :uid %>
%= f.label :pass, 'パスワード' %>
%= f.password_field :pass %>
%= f.submit '登録' %>
% end %>-->

<% if current_user %>
  <%# ▼ ログインしている時の表示 ▼ %>
  <h1>メインメニュー</h1>
  <p>ようこそ、<strong><%= current_user.uid %></strong> さん！</p>

  <p>
    <%= link_to "ログアウトする", top_logout_path, style: "color: red;" %>
  </p>

  <hr>
  <p>
    <%= link_to "レビュー一覧を見る", reviews_path %><br>
    <%= link_to "ブックマーク一覧を見る", bookmarks_path %>
  </p>

<% else %>
  <%# ▼ ログインしていない時の表示（元のコード） ▼ %>
  <h1>ログイン</h1>

  <%# エラーメッセージがあれば表示 %>
  <% if flash[:alert] %>
    <p style="color: red;"><%= flash[:alert] %></p>
  <% end %>

  <%= form_with url: top_login_path, local: true do |f| %>
    <p>
      <%= f.label :uid, "アカウント名" %><br>
      <%= f.text_field :uid %>
    </p>
    <p>
      <%= f.label :pass, "パスワード" %><br>
      <%= f.password_field :pass %>
    </p>
    <p>
      <%= f.submit "ログイン" %>
    </p>
  <% end %>

  <p>アカウントをお持ちでない方は <%= link_to "新規登録", new_user_path %> へ</p>
<% end %>