<!--%= form_with model: @user do |f| %>
  %= f.label :uid, 'UID' %>
  %= f.text_field :uid %>
  %= f.label :password, 'パスワード' %>
  %= f.text_field :password %>
  %= f.label :password_confirmation, 'パスワード(確認)' %>
  %= f.text_field :password_confirmation %>
  %= f.submit '登録' %>
% end %>-->

<h1>ユーザー新規登録</h1>

<% if @user.errors.any? %>
  <div style="color: red;">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user, local: true do |f| %>
  <p>
    <%= f.label :uid, "ユーザーID (UID)" %><br>
    <%= f.text_field :uid %>
  </p>
  <p>
    <%= f.label :password, "パスワード" %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "パスワード（確認）" %><br>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit "登録する" %>
  </p>
<% end %>