<!--%= form_with model: @user do |f| %>
  %= f.label :uid, 'UID' %>
  %= f.text_field :uid %>
  %= f.label :password, 'パスワード' %>
  %= f.text_field :password %>
  %= f.label :password_confirmation, 'パスワード(確認)' %>
  %= f.text_field :password_confirmation %>
  %= f.submit '登録' %>
% end %>-->

<h1>ユーザー新規登録</h1>

<% if @user.errors.any? %>
  <div style="color: red;">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user, local: true do |f| %>
  <p>
    <%= f.label :uid, "アカウント名" %><br>
    <%= f.text_field :uid %>
  </p>
  <p>
    <%= f.label :password, "パスワード" %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "パスワード（確認）" %><br>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :faculty, "学部・学科" %><br>
    <%= f.select :faculty, [["生物環境化学科", "生物環境化学科"], ["電気電子工学科", "電気電子工学科"], ["情報学科", "情報学科"], ["建築・デザイン学科", "建築・デザイン学科"], ["経営ビジネス学科", "経営ビジネス学科"]], include_blank: "選択してください" %>
  </p>

  <p>
    <%= f.label :grade, "学年" %><br>
    <%= f.select :grade, [["1年", "1年"], ["2年", "2年"], ["3年", "3年"], ["4年", "4年"], ["その他", "その他"]], include_blank: "選択してください" %>
  </p>
  <p>
    <%= f.submit "登録する" %>
  </p>
<% end %>