<!-- ヘッダー -->
<header id="header">
  <h1>近ログ</h1>
  <nav>
    <%= link_to "ホーム" ,'/reviews/index'%> |
    <%= link_to "マップ"%> |
    <%= link_to "新規登録", '/reviews/new' %>
  </nav>
</header>

<!-- サイドバー -->
<aside id="sidebar">
  <h3>メニュー</h3>
  <ul>
    <li><%= link_to "トップページ"%></li>
    <li><%= link_to "学生一覧" %></li>
    <li><%= link_to "新規登録" %></li>
  </ul>
</aside>

<!-- フッター -->
<footer id="footer">
  <p>© 2025 近ログ</p>
</footer>
