<!-- ヘッダー -->
<header id="header">
  <h1>近ログ</h1>
  <nav>
    <%= link_to "ホーム" ,'/reviews/index'%> |
    <%= link_to "マップ",'/maps/index'%> |
    <%# ▼ ログインしている時だけ表示する ▼ %>
    <% if current_user %>
    <%= link_to "レビューを投稿する", '/reviews/new' %>
    <% end %>
  </nav>
</header>

<!-- サイドバー -->
<aside id="sidebar">
  <h3>メニュー</h3>
  <ul>
    <li><%= link_to "トップページ", top_main_path%></li>
    <%# ▼ ログインしている時だけ表示する ▼ %>
    <% if current_user %>
      <li><%= link_to "マイページ", user_path(current_user) %></li>
      <li><%= link_to "ブックマーク一覧", bookmarks_path %></li>
    <% else %>
    <%# ▼ ログインしていない時だけ表示する（必要であれば） ▼ %>
      <li><%= link_to "新規登録", new_user_path %></li>
    <% end %>
  </ul>
</aside>

<!-- フッター -->
<footer id="footer">
  <p>© 2025 近ログ</p>
</footer>
